
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


.header {
    background: url("./assets/navbar.jpeg") no-repeat center;
    background-size: cover;
    min-height: 13vh;
}

@media only screen and (max-width: 900px) {
    .header {
        min-height: 5vh;
    }
  }

.header .navbar {
    background-color: transparent !important;
    color: white !important;
}

.table {
    background-color: transparent !important;

}

table tr td, table tr th{
    background-color: rgba(0,0,0, 0) !important;
    color: white!important;
}

.section{
    background: url("./assets/fondo.jpeg") no-repeat center;
    background-size: cover;
    min-height: 100vh;
}


.background-table{
    background-color:rgba(0,0,0, 0.3) !important;
    border-radius: 10px;

}
a{
    color: white!important;
    font-family: bungee;
}
a.active {
    color: #E7DE0F!important;
    font-family: bungee;
  }

  h1 {
    font-family: bungee;
  }